$color-purple: #9356DC;
$light-purple: #F5EDFE;
$color-pink: #FF79DA;
$color-green: #A9E0D1;
$off-white: #F8F7F7;
$light-black: #363535;
$color-grey: #686868;
$gradient-pink-purple: linear-gradient(165deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);