$color-purple: #9356DC;
$color-pink: #FF79DA;
$color-green: #99E2D0;
$off-white: #F6F7EE;
$light-black: #4b4b4b;
$gradient-pink-purple: linear-gradient(165deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);