footer {
    background-color: $light-black;
    width: 100vw;
    max-width: 1440px;
    padding: 20px;

    h2 {
        color: white;
        margin-bottom: 20px;
    }

    div {
        display: flex;
        flex-direction: column;

        a {
            color: white;
            margin-bottom: 10px;

            i {
                margin-right: 10px;
            }

            .fa-utensils {
                margin-left: 5px;
            }
        }
    }
}