@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#menu-title h1 {
    font-family: 'Shrikhand', cursive;
}

section>h2 {
    font-size: 22px;
}

footer>h2 {
    font-family: 'Shrikhand', cursive;
}